.root {
    border: 1px solid darkgrey;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.activeNodesContainer {
    display: flex;
}

.controls {
    display: flex;
    justify-content: flex-end;
}

.title {
    margin-right: 70px;
}

