.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.activeNodesContainer {
    display: flex;
}

.controls {
    display: flex;
    flex-direction: row;
}

.title {

}

.validDropTarget {
    border: 3px solid #00ef00;
}

.invalidDropTarget {
    border: 3px solid red;
}

.activeSelectNodes {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-width: fit-content;
}
