.root {
    display: flex;
    flex-direction: row;
}

.logicalNodes {
    padding: 5px;
}

.scalarNodes {
    padding: 5px;
    min-height: 380px;
}

.arrayNodes {
    padding: 5px;
    min-height: 150px;
}

