.root {
    display: flex;
    flex-direction: column;
    border: 1px solid darkgrey;
    padding: 10px;
}

.limitEditorRow {
    display: flex;
    flex-direction: row;
}

.editorsContainer {
    display: flex;
    flex-direction: column;
}

.editorItem {
    margin-right: 10px;
}

.titleRow {
    display: flex;
    flex-direction: row;
}
