.root {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.queryEditorContainer {

}

.nonQueryEditorsContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}
