.root {
    padding: 4px 12px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    margin: 2px;
    background-color: var(--green, #28a745);
}

.root:hover {
    cursor: grab;
}

.active {

}

.root.active {
    background-color: var(--teal, #20c997)

}

