.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    border: 3px solid transparent;
}

.title {
    height: 30px;
}

.possibleNodes {
    display: flex;
    min-width: fit-content;
    flex-direction: column;
    overflow-y: auto;
}

