.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.title {

}

.possibleNodes {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-width: fit-content;
}

