.root {
    height: 100%;
    border: 3px solid transparent;
}

.invalidDropTarget {
    border: 3px solid red;
}

.validDropTarget {
    border: 3px solid #00ef00;
}

.title {

}

.iconAligner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
