@import '../../../../../node_modules/@dojo/themes/dojo/variables.css';


.root {
    composes: root from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';
}

.main {
    composes: main from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';

}

.title {
    composes: title from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';
}

.close {
    composes: close from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';
}

.content {
    composes: content from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';

}

.underlayVisible {
    composes: underlayVisible from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';

}

.enter {

}

.underlayEnter {
}

.fadeIn {
}

.exit {
    composes: title from '../../../../../node_modules/@dojo/themes/dojo/dialog.m.css';
}

.underlayExit {
}

.fadeOut {
}
