.sortNodeEditor {
    height: 100%;
    border: 3px solid transparent;
}

.sort {
}

.titleRow {
    display: flex;
    flex-direction: row;
}

.invalidDropTarget {
    border: 3px solid red;
}

.validDropTarget {
    border: 3px solid #00ef00;
}

.activeSortNodes {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    min-width: fit-content;
}
