.sort {
    border: 1px solid darkgrey;
    padding: 10px;
}

.titleRow {
    display: flex;
    flex-direction: row;
}

.sortNodeEditor {

}

.invalidDropTarget {
    border: 3px solid red;
}

.validDropTarget {
    border: 3px solid #00ef00;

}
